@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4">Hetvi Patel</h1>
            <p class="lead">500236468</p>
        </div>
    </div>
</div>
